@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: "Noto Sans";
}

header{
    background: linear-gradient(to bottom, #6022da,  #6f4faf );
    height: 750px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.logo{
    width: 110px;
}

.nav-items{
    list-style-type: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

li{
    display: inline;
    padding: 25px;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px 0 60px;
 

}
.fa-bars{
    display: none;
}
.nav-item-active{
    color: #3f8df4;
    font-weight: 500;
    font-size: 20px;
    text-decoration: underline;
}
.nav-btn{
    color: #fff;
    font-size: 18PX;
    background-color:#3f8df4;
    padding: 15px 35px ;
    border: none;
}
@media screen and (max-width:1010px) {
    .nav-item{
        display: none;
    }
    .fa-bars{
        display: block;
        visibility: visible;
    }
    header{  
        height: 1300px;
    }
}
/* ----------------------------------------------------end of nav-bar-------------------------------------- */
.btn{
    color: #fff;
    font-size: 18PX;
    background-color:#3f8df4;
    padding: 15px 35px ;
    border: none;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-left{
    color: #fff;
    margin-top: 50px;
}
.header-left h1{
    font-size: 60px;
}
.header-left p{
    font-size: 18px;
    line-height: 25px;
}
img[src="./images/header-image.svg"]{
    width: 700px;
}
@media screen and (max-width:1010px) {
    .header{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
}
@media screen and (max-width:768px){
    img[src="./images/header-image.svg"]{
        width: 400px;
    }
    .header-left h1{
        font-size: 40px;
    }
    .header-left p{
        font-size: 16px;
       
    }
    header{  
        height: 950px;
    }
}
@media screen and (max-width:415px){
    img[src="./images/header-image.svg"]{
        width: 300px;
    }
    .header-left h1{
        font-size: 30px;
    }
    .header-left p{
        font-size: small;
    }
    header{  
        height: 800px;
    }
}


/* ------------------------------------------------------end of header section------------------------------------------------- */
img[src="./images/Saas illustration-01.svg"]{
    width: 700px;
}
.hero-lists{
    display: flex;
    flex-direction: row;
    vertical-align: top;
    gap: 15px;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hero-right{
    margin-top: 70px;
}
.hero-right h1{
    font-size: 33px;
}
.hero-right h3{
    font-size:25px;
}
.arrow{
    margin-top: 30px;
}
@media screen and (max-width:1010px) {
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width:768px){
    img[src="./images/Saas illustration-01.svg"]{
        width: 400px;
    }
}
@media screen and (max-width:415px){
    
    img[src="./images/Saas illustration-01.svg"]{
        width: 300px;
        
    }
    .hero-right h1{
        font-size: 25px;
    }
    .hero-right h3{
        font-size:20px;
    }
    .hero-right p{
        font-size:small;
    }
}
/* -----------------------------------------------------------end of hero section---------------------------------------------- */
.cards h1{
   text-align: center; 
   font-size: 40px;
}
.small-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}
.icon1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ebd0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1cbe9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon3{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #cbdbe9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon4{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #d8c5d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    text-align: center;
    width: 250px;
    height: 300px;
    box-shadow:10px 5px 5px #888;
    border-radius: 25px;
  
}
.text{
    height: 145px;
    margin-top: 55px;
}
.text-active{
    background-color:#5b2fb4;
    color: #fff;
    border-radius: 25px;
}
.text h3{
    padding-top: 15px;
    font-size: 20px;
}
@media screen and (max-width:768px){
    .small-cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
     
    }
    .cards h1{
        text-align: center; 
        font-size: 30px;
     }
}
@media screen and (max-width:415px){
    .cards h1{
        font-size: 25px;
     }
}